.page-button-text {
  text-align: center;
  margin: 0 8px 0 0;
  padding: 12px 37px;
  line-height: 24px;
  font-family: "Source Sans Pro", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background-color: white;
  color: blue;
  border: 1px solid #1044ff4f;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.1s linear;
}

.page-button-text:hover {
  background-color: blue;
  color: white;
}

@media (max-width: 460px) {
  .page-button-text {
    flex-grow: 1;
  }
}
