.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 432px;
    background-color: #ffe7e7;

}

@media (max-width:768px) {
    .lead {
        height: 560px;
    }
}