.blog__title {
  font-family: "Noticia Text", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 111%;
  margin: 40px 0 0;
  color: #1044ff;
}

@media (max-width:359px) {
  .blog__title{
    font-size: 42px;
  }
}