.lead__title {
  margin: 192px 0 0 0;
  font-family: "Noticia Text";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  color: #1044ff;
}

@media (max-width:768px) {
  .lead__title {
    max-width: min-content;
    margin: 141px 0 0 0;
  }
}

@media (max-width:320px) {
  .lead__title {
    font-size: 42px;
    line-height: normal;
  }
}