.content-side {
  margin: 0 0 0 29px;
  max-width: 370px;
  min-width: 278px;
}

@media (max-width: 768px) {
  .content-side {
    margin: 100px auto 0 auto;
  }
}

@media (max-width:340px) {
  .content-side{
    min-width: 100%;
  }
}