.about {
  display: flex;
  flex-direction: column;
  margin: 62px 130px 158px 98px;
}

@media (max-width: 1024px) {
  .about {
    margin: 62px 130px 158px 62px;
  }
}

@media (max-width:768px) {
  .about {
    margin: 30px 28px;
  }
}