.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe7e7;
  max-width: 100%;
  height: 432px;
}

@media (max-width:768px) {
  .contact {
    height: 672px;
    
  }
}