.blog-cards {
    display: flex;
    flex-wrap: wrap;
    width: 770px;
    column-gap: 30px;
    justify-content: center;
}

@media (max-width: 1365px) {
    .blog-cards {
        max-width: 590px;
    }
}