.contact-card-container {
  margin: 52px 65px;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  width: calc(100% - 196px);
  gap: 30px;
}

@media (max-width: 1024px) {
  .contact-card-container {
    width: calc(100% - 130px);
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .contact-card-container {
    flex-direction: column;
  }
}

@media (max-width: 460px) {
  .contact-card-container {
    width: calc(100% - 56px);
  }
}
